@import url(https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=Trirong&family=League+Gothic);

* {
	margin:0;
	padding:0;
	border:0;
}

body {
	font-family: Trirong;
	color: white;
	background-color: black;
}

h1 {
	font-family: "League Gothic";
	letter-spacing: 2px;
	color: #D6A000;
}

h2 {
	font-family: "League Gothic";
	letter-spacing: 2px;
	color: white;
}

#left-logo {
	height: 100%;
	width: auto;
	float: left;
}

#left-logo-mobile-view {
	display: none;
}

#menu {
	font-size: 200%;
	list-style: none;
	letter-spacing: 2px;
	line-height: 60px;
}

#menu li {
	float: left;
	margin-left: 30px;
}

#menu a {
	font-family: "League Gothic";
	text-decoration: none;
}

#menu a:hover {
	color: #FFD800;
}

.active {
	color: #FFD800;
} 

.not-active {
	color: white;
}

header {
	background-color: black;
	height: 60px;
  border: 3px solid #dfbc78;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
	z-index: 2;
}

#right-logo {
  height: 100px;
  width: 100px;
  background-image: url("https://live.staticflickr.com/65535/52468465834_b3a9dfeb88_o_d.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  position: fixed;
  top: 15px;
  right: 15px;
	z-index: 3;
	src: url("index.html");
}

#big-egg-outer {
	height: 1000px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

#big-egg-1 {
	height: 1000px;
	width: 100%;
	background: url("https://live.staticflickr.com/65535/52460673942_1f776214b2_o_d.jpg") no-repeat center;
	background-size: cover;
	overflow: hidden;
	margin-top: 60px;

/* 	animation-name: egg-1-zoom;
	animation-duration: 5s;
	animation-fill-mode: forwards; */
}

/* @keyframes egg-1-zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
} */

#big-egg-1-text {
	font-size: 500%;
	font-family: "League Gothic";
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	top: 300px;
	right: 75px;

	position: absolute;
}

#big-egg-2 {
	height: 1000px;
	width: 100%;
	background: url("https://live.staticflickr.com/65535/52479668456_335cc66f4d_o_d.jpg") no-repeat center;
	background-size: cover;
	overflow: hidden;
}

#big-egg-2-text {
	font-size: 500%;
	font-family: "League Gothic";
	text-transform: uppercase;
	text-align: center;

	top: 1400px;
	left: 75px;

	position: absolute;
}

#big-egg-3 {
	height: 1000px;
	width: 100%;
	background: url("https://live.staticflickr.com/65535/52480158110_73dea24e48_o_d.jpg") no-repeat center center;
	background-size: cover;
	overflow: hidden;
}

#big-egg-3-text {
	font-size: 500%;
	font-family: "League Gothic";
	text-transform: uppercase;
	text-align: center;
	right: 41%;
	top: 2700px;
	position: absolute;
}

.chevron {
	color: #846100;
}

 .container {
	 background-color: blue;
    width: 100vi;
    height: 655px;
 }

 .video {
	 height: 100%;
	 width: 100%;
 }

footer {
	height: 60px;
	background-color: black;
	border: 3px solid #dfbc78;
	bottom: 0;
}

/* header {
	background-color: black;
	height: 60px;
  border: 3px solid #dfbc78;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
	z-index: 2;
} */

.social-networks {
	text-align: center;
}

.social-networks li {
	display: inline;
}

.social-networks i {
	font-size: 160%;
/* 	margin: 1%; */
	padding: 1%;
	color:white;
}

li i:hover {
	color: #FFD800;
}

.active {
	color: #FFD800;
}

@media screen and (min-device-width: 944px) and (max-device-width: 1362px) { 
  	#big-egg-1, #big-egg-2, #big-egg-3, .container {
			height: 70vw;
		}

		#big-egg-1-text, #big-egg-2-text, #big-egg-3-text {
			position: static;
			text-align: center;
			font-size: 400%;
		}
}

@media screen and (max-width: 943px) {
	#left-logo {
		display:none;
	}

	#right-logo {
		display:none;
	}

	#left-logo-mobile-view {
		display: inline;
		height: 60px;
		margin-left: -12px;
	}

	#menu li {
		margin-left: 15px;
	}
	
	#big-egg-1, #big-egg-2, #big-egg-3, .container {
		height: 100vw;
	}

	#big-egg-1-text, #big-egg-2-text, #big-egg-3-text {
	position: static;
	text-align: center;
	font-size: 400%;
	}


	.social-networks li {
	margin-bottom: 0px;
}

}