@import url(https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=Trirong&family=League+Gothic);

* {
	margin:0;
	padding:0;
	border:0;
}

body {
	font-family: Trirong;
	color: white;
	background-color: black;
}

h1, h2, h3, h4 {
	font-family: "League Gothic";
	letter-spacing: 4px;
	color: #D6A000;
}

p {
	letter-spacing: 1px;
	line-height: 35px;
}

#left-logo {
	height: 100%;
	width: auto;
	float: left;
}

#left-logo-mobile-view {
	display: none;
}

#menu {
	font-size: 200%;
	list-style: none;
	letter-spacing: 2px;
	line-height: 60px;
}

#menu li {
	float: left;
	margin-left: 30px;
}

#menu a {
	font-family: "League Gothic";
	text-decoration: none;
}

#menu a:hover, #chevron1:hover, #chevron2:hover, #chevron3:hover, #chevron4:hover, #chevron5:hover, #chevron6:hover, #chevron7:hover {
	color: #FFD800;
}

.active {
	color: #FFD800;
} 

.not-active {
	color: white;
}

header {
	background-color: black;
	height: 60px;
  border: 3px solid #dfbc78;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
	z-index: 2;
}

#right-logo {
  height: 100px;
  width: 100px;
  background-image: url("../images/right-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  position: fixed;
  top: 15px;
  right: 15px;
	z-index: 3;
}

#big-egg-1 {
	height: 100vh;
	background: url("../images/big-egg-1.jpg") no-repeat center;
	background-size: cover;
	overflow: hidden;
	margin-top: 66px;
}

.text-container {
  position: relative;
  height: 100%;
}

#big-egg-1-text {
	font-size: 300%;
	font-family: "League Gothic";
	text-transform: uppercase;
	position: absolute;
	top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
	text-align: center;
}

#big-egg-1-mobile-text, #big-egg-2-mobile-text, #big-egg-3-mobile-text {
	display: none;
}

#big-egg-2 {
	height: 100vh;
	background: url("../images/big-egg-2.jpg") no-repeat center;
	background-size: contain;
	overflow: hidden;
}

#big-egg-2-text {
	font-size: 300%;
	font-family: "League Gothic";
	text-transform: uppercase;
	position: absolute;
	top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
	text-align: center;
}

#big-egg-3 {
	height: 100vh;
	background: url("../images/big-egg-3.jpg") no-repeat center;
	background-size: contain;
	overflow: hidden;
}

#big-egg-3-text {
	font-size: 300%;
	font-family: "League Gothic";
	text-transform: uppercase;
	position: absolute;
	top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align: center;
}

/* New title section */

.title-div {
	height: 100vh;
}

.title-text-container {
	position: relative;
  height: 100%;
}

.title-image-and-text {
	position: absolute;
	top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
	object-fit: contain;
}

.title-img-size {
	height: 60vh;
	width: auto;
}

.title-text {
	font-size: 300%;
	font-family: "League Gothic";
	text-transform: uppercase;
	position: absolute;
  top: 50%;
  left: 100%;
	z-index: 2;
	text-align: center;
	margin-left: 40%;
}

/* ---------------------------------------------------- */

#chevron1, #chevron2, #chevron3, #chevron4, #chevron5, #chevron6, #chevron7 {
	color: white;
	text-decoration: none;
}

#quiz-egg {
	height: 100vh;
	background: url("../images/quiz-egg.jpg") no-repeat left;
	background-size: contain;
	overflow: hidden;
	margin-top: 66px;
}

.margin-bottom {
	margin-bottom: 120px;
}

#quiz-egg-text, #history-egg-text, #shop-egg-text, #news-egg-text {
	font-size: 300%;
	font-family: "League Gothic";
	text-transform: uppercase;
	position: absolute;
	top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
	text-align: center;
}

#quiz-info {
	width: 30%;
	margin-left: 15vw;
	font-size: 150%;
	text-align: center;
	color: #A8ACAD;
}

#small-print-right {
	float: right;
	margin-right: 5%;
	color: #A8ACAD;
}

#egg-quiz {
	margin-top: 40px;
	background: url("../images/toast.jpg") no-repeat center center;
	background-color: #313131;
	background-size: 60%;
}

#form {
	color: #F4F4F4;
	font-size: 18px;
	text-align: center;
}

#egg-quiz h2 {
	color: #F4F4F4;
	font-family: Trirong;
	font-weight: 550;
	letter-spacing: 2px;
	padding: 10px 20px;
	font-size: 20px;
}

table {
	margin-left:auto; 
  margin-right:auto;
  margin-bottom: 10px;
  text-align: center;
}

#history-egg {
	height: 100vh;
	background: url("../images/history-egg.jpg") no-repeat left;
	background-size: contain;
	overflow: hidden;
	margin-top: 66px;
}

/* #history-egg-mobile {
	display: none;
} */

	#history-egg-mobile-text {

	}

select {
	font-size: 100%;
	color: black;
	border-radius: 10px;
	padding: 5px;
	background-color: #F4F4F4;
}

/* found this code here - https://stackoverflow.com/questions/3313456/css-borders-between-table-columns-only */
table td + td { 
	border-left:2px solid #F4F4F4; 
}
/* above */

input {
	font-size: 100%;
	border-radius: 10px;
	padding: 5px;
	background-color: #F4F4F4;
}

button {
	font-size: 100%;
	border-radius: 10px;
	padding: 5px;
	background-color: #DFBC78;
}

#reset {
	background-color: transparent;
	color: #F4F4F4;
}

input:hover {
	background-color: #DFBC78;
}
      
select:hover {
  background-color: #DFBC78;
}

#small-print-left {
	margin-left: 5%;
	color: #A8ACAD;
}

/* Took code for iframe-container and iframe from [w3schools] (https://www.w3schools.com/howto/howto_css_responsive_iframes.asp) and [Stack Overflow] (https://stackoverflow.com/questions/8366957/how-to-center-an-iframe-horizontally) */

.iframe-container {
	position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

iframe {
	position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 70%;
	display: block;
	margin: 0 auto;
}

footer {
	height: 60px;
	background-color: black;
	border: 3px solid #dfbc78;
	bottom: 0;
}

.social-networks {
	text-align: center;
	line-height: 60px;
}

.social-networks li {
	display: inline;
}

#youtube-button, .social-networks i {
	font-size: 160%;
	padding: 1%;
	color:white;
}

#youtube-button:hover, li i:hover {
	color: #FFD800;
}

.active {
	color: #FFD800;
}

/* Took this class code from https://www.thoughtco.com/wrapping-text-around-image-3466530#:~:text=Enter%20.,the%20text%20wraps%20around%20it. And edited it*/
.img-right-wrap {
	float: right; 
	padding: 80px;
	width: 33%;
}

.img-left-wrap {
	float: left; 
	padding: 80px;
	width: 30%;
}

#article {
	padding: 20px 0;
	background: rgba(0,0,0,0.80);
}

.article-text {
	font-size: 18px;
	padding: 20px 80px 20px 80px;
	color: #A8ACAD;
}

.article-text a{
	text-decoration: underline; 
	color: #A8ACAD;
}

/* Partly stolen from https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ and http://www.java2s.com/Code/HTMLCSS/Tags/borderforblockquote.htm*/
blockquote {
	text-align: center;
  quotes: "“" "”" "‘" "’";
	font-size: 20px;
	font-style: italic;
	width: 90%;
	margin: 40px auto;
	
	border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #dfbc78;
	
	border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dfbc78;
}

/* Next two are partly stolen from https://css-tricks.com/quoting-in-html-quotations-citations-and-blockquotes/ */
blockquote::before {
  content: open-quote;
	font-size: 18px;
	color: #bb9260;
}

blockquote::after {
  content: close-quote;
	font-size: 18px;
	color: #bb9260;
}

#necklace {
	width: 25%;
	display: block;
  margin-left: auto;
  margin-right: auto;
	margin-bottom: 20px;
}

#history-box {
	background-image: url("../images/egg-timer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 60%;
	margin: 0 auto;
}

#shop-egg {
	height: 100vh;
	background: url("../images/shop-egg.jpg") no-repeat left;
	background-size: contain;
	overflow: hidden;
	margin-top: 66px;
}

#shop-box {
	background-image: url("../images/feet.jpg");
  background-repeat: no-repeat;
  background-size: contain;
	background-position: center right;
	margin-right: 220px;
}

#shop-info {
  font-size: 150%;
  text-align: center;
  color: #A8ACAD;
  padding-top: 40px;
	padding-bottom: 40px;
	background: rgba(0,0,0,0.80);
	line-height: 2;
}

.zazzle-image {
	max-width: 80%;
	max-height: auto;
}

/* Took the next two blocks from https://www.w3schools.com/howto/howto_css_three_columns.asp. Spliced with zazzle code. I don't understand what the point of 'content' is here */
.column {
	float: left;
  width: 33.33%;
	text-align: center;
	line-height:150%;
	padding: 120px 0;
}

.left, .right {
  width: 33.33%;
}

.middle {
  width: 33.33%;
}

.row {
	background: #313131;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.shop-links {
	color: white;
	text-decoration: none; 
	text-align: center;
	font-size: 18px;
}

#news-egg {
	height: 100vh;
	background: url("../images/news-egg.jpg") no-repeat left;
	background-size: contain;
	overflow: hidden;
	margin-top: 66px;
}

#results, #shop-info, #article {
	padding-top: 80px;
}

/* #news-egg-mobile-text, #shop-egg-mobile-text, #quiz-egg-mobile-text, #history-egg-mobile-text {
	display: none;
} */

.page-intro {
	font-size: 150%;
  text-align: center;
  color: #A8ACAD;
	line-height: 2;
}

a {
	font-family: Trirong;
	color: #A8ACAD;
}

a:hover {
	color: #FFD800;
}

#menu a:hover {
	color: #FFD800;
}

.vs-background {
	height: 100vh;
	background: url("../images/vs-background.jpg") no-repeat center;
	background-size: cover;
	overflow: hidden;
	border: 3px solid #dfbc78;
}

#vs-background-flipped {
	height: 100vh;
	background: url("../images/vs-background-flipped.jpg") no-repeat center;
	background-size: cover;
	overflow: hidden;
	border: 3px solid #dfbc78;
}

.vs-background-text {
	font-size: 500%;
	font-family: "League Gothic";
	text-transform: uppercase;
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-shadow: -10px 10px 1px black;
	z-index: 2;
}

.vs-background-text-2 {
	font-size: 200%;
	font-family: "League Gothic";
	text-transform: uppercase;
	position: absolute;
	top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
	text-shadow: -10px 10px 1px black;
}

.vs-name-left {
	font-size: 200%;
	font-family: "League Gothic";
	text-transform: uppercase;
	top: 70vh;
  left: 25vw;
  transform: translate(-50%, -50%);
	text-shadow: -10px 10px 1px black;
	z-index: 1;
	position: absolute;
  text-align: center;
}

.vs-name-right {
	font-size: 200%;
	font-family: "League Gothic";
	text-transform: uppercase;
	top: 70vh;
  left: 74.5vw;
  transform: translate(-50%, -50%);
	text-shadow: -10px 10px 1px black;
	z-index: 1;
	position: absolute;
  text-align: center;
}

.winner {
	font-size: 600%;
	font-family: "League Gothic";
	text-transform: uppercase;
	position: absolute;
  top: 45%;
  left: 30%;
	transform: rotate(-20deg)
             skew(-20deg);
	text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
	z-index: 2;
}

#round2, #round3 {
	font-size: 200%;
	font-family: "League Gothic";
	text-transform: uppercase;
	position: absolute;
	top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
	text-shadow: -10px 10px 1px black;
}

#results {
	font-size: 500%;
	font-family: "League Gothic";
	text-transform: uppercase;
	text-align: center;
	Margin-bottom: 20px;
}

.vs-left {
	position: absolute;
	top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
	object-fit: contain;
}

.vs-right {
	position: absolute;
	top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
	object-fit: contain;
}

.img-size {
	height: 60vh;
	width: auto;
}

@media screen and (min-width: 1366px) and (max-width: 1618px) {
	#quiz-egg-text, #history-egg-text, #shop-egg-text, #news-egg-text {
	  left: 75%;
	}

	#big-egg-1-text {
		left: 85%;
	}

	#big-egg-2-text {
		left: 15%;
	}
}

@media screen and (max-width: 1365px) {
	#big-egg-1, #big-egg-2, #big-egg-3, #history-egg, #shop-egg, #news-egg, #quiz-egg {
		height: 60vh;
		background-position: center center;
	}
	
	.margin-bottom {
		margin-bottom: 0;
	}

	#big-egg-1-text, #big-egg-2-text, #big-egg-3-text, #history-egg-text, #news-egg-text, #quiz-egg-text, #shop-egg-text {
		display: none;
	}

	#big-egg-1-mobile-text, #big-egg-2-mobile-text, #big-egg-3-mobile-text, #history-egg-mobile-text, #news-egg-mobile-text, #quiz-egg-mobile-text, #shop-egg-mobile-text {
		display: block;
		font-size: 200%;
		font-family: "League Gothic";
		text-transform: uppercase;
		text-align: center;
	}

	#history-egg-mobile-text, #news-egg-mobile-text, #quiz-egg-mobile-text, #shop-egg-mobile-text {
		margin-bottom: 40px;
	}

	#shop-box {
	  margin: 0;
		padding: 0;
		background: transparent;
	}

	#shop-info {
		padding: 0 10px;
	}

	.mobile-padding {
		padding-left: 13px;
		padding-right: 13px;
	}

/* Quiz */

	#quiz-info {
		width: 100%;
		margin-left: 0;
	}

	#egg-quiz {
		background-size: cover;
	}

@media screen and (max-width: 912px) {
	.img-size {
		width: 40vw;
		height: auto;
	}

	.winner {
		font-size: 5vw;
		text-shadow: none;
		background-color: black;
		top: 48%;
  	left: 33%;
	}

	.vs-background-text {
		font-size: 10vw;
		text-shadow: none;
		background-color: black;
		padding: 4px;
	}

	.vs-background-text-2, #round2, #round3 {
		font-size: 10vw;
		text-shadow: none;
		background-color: black;
		text-align: center;
		top: 10%;
	  left: 50%;
		margin-top: 10%;
		padding: 4px;
	}

	.vs-name-left {
		font-size: 5vw;
		top: 70%;
	  left: 25%;
		text-shadow: none;
		background-color: black;
		padding: 4px;
		position: relative;
	}

	.vs-name-right {
		font-size: 5vw;
		top: 70%;
	  left: 74.5%;
		text-shadow: none;
		background-color: black;
		padding: 4px;
		position: relative;
	}

	.column {
		float: none;
  	width: 100%;
		text-align: center;
		line-height:150%;
		padding: 20px 0;
	}

	.zazzle-image {
		width: 70vw;
	}
	
	.title-text {
		position: static;
		margin: 0 auto;
		font-size: 150%;
	}

	.title-image-and-text {
		top: 50%;
	  left: 50%;
	}

	.title-img-size {
		width: 60vw;
		height: auto;
	}
}
	
@media screen and (max-width: 689px) {
	#left-logo {
		display:none;
	}

	#right-logo {
		display:none;
	}

	#left-logo-mobile-view {
		display: inline;
		height: 60px;
		margin-left: -12px;
	}

	#menu li {
		margin-left: 15px;
	}

	/* 	Index */
	#big-egg-2, #big-egg-3 {
		background-size: cover;
	}

	/* 	History */
	#article {
		padding: 6px 6px;
		background: rgba(0,0,0,0.80);
	}

	#history-box {
		background-image: none;
		width: 100%;
		margin: 0;
	}

	.article-text {
		font-size: 18px;
		padding: 13px 13px;
		color: #A8ACAD;
	}

	.img-right-wrap, .img-left-wrap, #necklace {
		float: none;
		padding: 0;
		width: 90vw;
		margin-left: 13px;
  	margin-right: 13px;
	}
}

@media screen and (max-width: 355px) {
	#menu {
    font-size: 150%;
	}
}

/* @media screen and (min-width: 944px) and (max-width: 1303px) {
	#history-egg {
		background-position: center;
		width: 100%;
		background-size: contain;
	}
	
	#history-egg-text {
		position: static;
		text-align: right;
		font-size: 400%;
	}

	#shop-box {
		background-image: url("https://live.staticflickr.com/65535/52489446559_7d9f5263b5_o_d.jpg");
  	background-repeat: no-repeat;
  	background-size: contain;
		background-position: center center;
		margin-right: 0px;
	}

	.column {
  	width: 100%;
		text-align: center;
		line-height:150%;
		padding: 60px 0;
	}
	
}

@media screen and (min-width: 944px) and (max-width: 1417px) { 
  #big-egg-1, #big-egg-2, #big-egg-3, .container {
		height: 70vw;
	}

	#big-egg-1-text, #big-egg-2-text, #big-egg-3-text {
		position: static;
		text-align: center;
		font-size: 400%;
	}

	#egg-quiz {
		background-size: cover;
	}

	
}

@media screen and (max-width: 944px) {
	#left-logo {
		display:none;
	}

	#right-logo {
		display:none;
	}

	#left-logo-mobile-view {
		display: inline;
		height: 60px;
		margin-left: -12px;
	}

	#menu li {
		margin-left: 15px;
	}
	
	#big-egg-1, #big-egg-2, #big-egg-3, .container {
		height: 100vw;
	}

	#big-egg-1-text, #big-egg-2-text, #big-egg-3-text, #history-egg-text, #shop-egg-text {
	position: static;
	text-align: center;
	font-size: 200%;
	}

	#quiz-egg, #history-egg, #shop-egg {
		width: 100%;
		background-position: center;
	}

	#quiz-egg-text {
		position: static;
		font-size: 200%;
	}
	
	#egg-quiz {
		background-size: cover;
	}

	#egg-quiz-text {
		position: static;
		font-size: 200%;
	}

	#quiz-info {
		position: static;
		font-size: 150%;
		width: 70%;
		margin: 0 auto;
	}

	.article-text {
		padding: 10px;
		text-align: start;
	}

	.img-right-wrap, .img-left-wrap, #necklace {
		float: none;
		padding: 10px;
		width: 90%;
	}

	.margin-bottom {
		margin-bottom: 10px;
	}
	
	#shop-box {
	  margin-right: 0;
		background: transparent;
		background-size: contain;
	}

	#shop-info {
		padding: 0 10px;
	}

	.column {
  	width: 100%;
		text-align: center;
		line-height:150%;
		padding: 60px 0;
	}

	#history-box {
		background-position: center top;
		width: 85%;
		margin: 0 auto;
		background-attachment: fixed;
	}
	
} */